.homepageProducts {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.homeLogo {
    display: flex;
    justify-content: center;
    font-size: large;
}