.nav {
    display: flex;
    flex-direction: column;
    background-color: rgba(57, 255, 2, 0.445);
    justify-content: flex-start;
    padding-bottom: 10px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    
    
}

.nav-item {
    padding: 5px 5px 0px 5px;
}